<p>
  <b>Job:</b>
  <%=h @node.job %>
</p>

<p>
  <b>Aws image:</b>
  <%=h @node.aws_image_id %>
</p>

<p>
  <b>Aws instance:</b>
  <%=h @node.aws_instance_id %>
</p>

<p>
  <b>Aws state:</b>
  <%=h @node.aws_state %>
</p>

<p>
  <b>Dns name:</b>
  <%=h @node.dns_name %>
</p>

<p>
  <b>Ssh key name:</b>
  <%=h @node.ssh_key_name %>
</p>

<p>
  <b>Aws groups:</b>
  <%=h @node.aws_groups %>
</p>

<p>
  <b>Private dns name:</b>
  <%=h @node.private_dns_name %>
</p>

<p>
  <b>Aws instance type:</b>
  <%=h @node.aws_instance_type %>
</p>

<p>
  <b>Aws launch time:</b>
  <%=h @node.aws_launch_time %>
</p>

<p>
  <b>Aws availability zone:</b>
  <%=h @node.aws_availability_zone %>
</p>

<p>
  <b>Is configured:</b>
  <%=h @node.is_configured %>
</p>

