<h2>Cluster Nodes for Job #<%=h @job.id %></h2>
<table>
<tr>
  <th class="helpHed">instance</th>
  <th class="helpHed">state</th>
  <th class="helpHed">Dns name</th>
  <th class="helpHed">Private dns name</th>
  <th class="helpHed">launch time</th>
  <th class="helpHed">Is configured</th>
  <th class="helpHed">NFS mounted</th>    
</tr>

<% @job.nodes.each do |n| %>  
  <tr>
    <td><%=h n.aws_instance_id %></td>
    <td><%=h n.aws_state %></td>
    <td><%=h n.dns_name %></td>
    <td><%=h n.private_dns_name %></td>
    <td><%=h n.aws_launch_time %></td>
    <td><%=h n.is_configured.to_s %></td>
    <td><%=h n.nfs_mounted.to_s %></td>    
  </tr>
<% end %> 

</table>