<h1>Editing job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :instance_type %><br />
    <%= f.text_field :instance_type %>
  </p>
  <p>
    <%= f.label :number_of_instances %><br />
    <%= f.text_field :number_of_instances %>
  </p>
  <p>
    <%= f.label :availability_zone %><br />
    <%= f.text_field :availability_zone %>
  </p>
  <p>
    <%= f.label :input_files %><br />
    <%= f.text_area :input_files %>
  </p>
  <p>
    <%= f.label :commands %><br />
    <%= f.text_area :commands %>
  </p>
  <p>
    <%= f.label :output_path %><br />
    <%= f.text_field :output_path %>
  </p>
  <p>
    <%= f.label :output_files %><br />
    <%= f.text_area :output_files %>
  </p>
  <p>
    <%= f.label :shutdown_after_complete %><br />
    <%= f.check_box :shutdown_after_complete %>
  </p>
  <p>
    <%= f.label :master_ami_id %><br />
    <%= f.text_field :master_ami_id %>
  </p>
  <p>
    <%= f.label :worker_ami_id %><br />
    <%= f.text_field :worker_ami_id %>
  </p>
  <p>
    <%= f.label :log_path %><br />
    <%= f.text_field :log_path %>
  </p>
  <p>
    <%= f.label :keypair %><br />
    <%= f.text_field :keypair %>
  </p>
  <p>
    <%= f.label :ebs_volumes %><br />
    <%= f.text_area :ebs_volumes %>
  </p>
  <p>
    <%= f.label :mpi_version %><br />
    <%= f.text_field :mpi_version %>
  </p>
  <p>
    <%= f.label :mpi_service_rest_url %><br />
    <%= f.text_field :mpi_service_rest_url %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :progress %><br />
    <%= f.text_field :progress %>
  </p>
  <p>
    <%= f.label :error_message %><br />
    <%= f.text_area :error_message %>
  </p>
  <p>
    <%= f.label :master_security_group %><br />
    <%= f.text_field :master_security_group %>
  </p>
  <p>
    <%= f.label :worker_security_group %><br />
    <%= f.text_field :worker_security_group %>
  </p>
  <p>
    <%= f.label :master_instance_id %><br />
    <%= f.text_field :master_instance_id %>
  </p>
  <p>
    <%= f.label :master_hostname %><br />
    <%= f.text_field :master_hostname %>
  </p>
  <p>
    <%= f.label :master_public_hostname %><br />
    <%= f.text_field :master_public_hostname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>