<h1>ElasticWulf Jobs</h1>

>> Submit a <%= link_to 'New job', new_job_path %>
<BR><BR>
<table>
  <tr>
    <th>Name</th>
    <th>NodeType</th>
    <th># of Nodes</th>
    <th>OutputPath</th>
    <th>Started at</th>
    <th>Updated at</th>
    <th>Finished at</th>
    <th>State</th>
    <th>Progress</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.name %></td>
    <td><%=h job.instance_type %></td>
    <td><%=h job.number_of_instances %></td>
    <td><%=h job.output_path %></td>
    <td><%=h job.started_at.strftime('%m/%d %I:%M%p') unless job.started_at.nil? %></td>
    <td><%=h job.updated_at.strftime('%m/%d %I:%M%p') unless job.updated_at.nil? %></td>
    <td><%=h job.finished_at.strftime('%m/%d %I:%M%p') unless job.finished_at.nil? %></td>
    <td><%=h job.state %></td>
    <td><%=h job.progress %></td>
    <td><%= link_to 'Show', job %></td>
  </tr>
<% end %>
</table>
<br >
<%= will_paginate @jobs %>
<br />

<h2>How to use the JSON REST API</h2>
<h3>Submit a new job request</h3>
To submit a new job via a json request, you can post a JSON request to the REST api:
<pre>
post '/jobs/create',
  '{"job": {"name": "My Json MPI job", "description": "fdsfdfdsf", "user_id": 2,
   "number_of_instances": 12, "instance_type": "c1.medium", 
   "input_files": "s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta", 
   "commands": "bash runtandem.sh", "output_files": "myoutput.txt",
   "output_path": "S3://myoutputbucket/myrunsfolder"}}',
  {'Content-Type' => 'application/json', 'Accept' => 'application/json'}
</pre>

<h3>Checking on job status</h3>
To submit a new job via a json request, you can post a JSON request to the REST api:
<pre>
post '/jobs/create',
  '{"job": {"name": "My Json MPI job", "description": "fdsfdfdsf", "user_id": 2,
   "number_of_instances": 12, "instance_type": "c1.medium", 
   "input_files": "s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta", 
   "commands": "bash runtandem.sh", "output_files": "myoutput.txt",
   "output_path": "S3://myoutputbucket/myrunsfolder"}}',
  {'Content-Type' => 'application/json', 'Accept' => 'application/json'}
</pre>

<h3>Cancel a job request and shutdown the EC2 cluster</h3>

<pre>
post '/jobs/create',
  '{"job": {"name": "My Json MPI job", "description": "fdsfdfdsf", "user_id": 2,
   "number_of_instances": 12, "instance_type": "c1.medium", 
   "input_files": "s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta", 
   "commands": "bash runtandem.sh", "output_files": "myoutput.txt",
   "output_path": "S3://myoutputbucket/myrunsfolder"}}',
  {'Content-Type' => 'application/json', 'Accept' => 'application/json'}
</pre>


