<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Instance type</th>
    <th>Number of instances</th>
    <th>Output path</th>
    <th>Created at</th>
    <th>Submitted at</th>
    <th>Started at</th>
    <th>Updated at</th>
    <th>Finished at</th>
    <th>State</th>
    <th>Progress</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.name %></td>
    <td><%=h job.description %></td>
    <td><%=h job.instance_type %></td>
    <td><%=h job.number_of_instances %></td>
    <td><%=h job.output_path %></td>
    <td><%=h job.created_at %></td>
    <td><%=h job.submitted_at %></td>
    <td><%=h job.started_at %></td>
    <td><%=h job.updated_at %></td>
    <td><%=h job.finished_at %></td>
    <td><%=h job.state %></td>
    <td><%=h job.progress %></td>
    <td><%= link_to 'Show', job %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @jobs %>


<br />

<%= link_to 'New job', new_job_path %>